- content_for :body_content_title do
  = t('.search_results_for', :what => @query)

- content_for :body do
  - if @results.empty?
    = t('.no_results_for', :what => @query)
  - else
    %ul#search_results.no-bullet
      - @results.each do |result|
        %li.result
          .header
            = link_to result_url(result) do
              = result_icon(result)
              = result_title(result).html_safe
          = result_highlight(result)
          .meta
            = "#{ (result._score/@results.max_score*100.0).round }%"
            |
            = t('.updated_at', when:time_ago_in_words(DateTime.parse(result.updated_at)))
            |
            = result_type(result)

    = will_paginate @results

= render "/refinery/content_page"
